<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sign In - Public Library Management</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row mt-lg-5 mt-md-3">
    <div class="col-xs-12 col-lg-6 col-sm-8 offset-lg-3 offset-sm-2 offset-xs-0">
      <div class="card shadow">
        <div class="card-header bg-white">
          Authorize <span th:text="${session.client.clientName}"></span>
        </div>
        <div class="card-body px-5">
          <h5>Review Permissions</h5>
          <form th:action="@{/oauth/authorize/v1}" method="post">
            <div class="form-group">
            Already authorized:
              <ul th:each="scope : ${session.scopeMap.entrySet()}">
                <li th:if="${scope.value}">
                  <span th:text="${scope.key}"></span>
                </li>
              </ul>
            </div>
            <div class="form-group">
              New requested :
              <ul th:each="scope : ${session.scopeMap.entrySet()}">
                <li th:if="${!scope.value}">
                  <span th:text="${scope.key}"></span>
                </li>
              </ul>
            </div>
            <div class="form-group">
              <button class="btn btn-success m-3" type="submit" value="authorize" name="decision">Authorize</button>
              <button class="btn btn-light m-3" type="submit" value="cancel" name="decision">Cancel</button>
            </div>
          </form>
          <p class="card-text"></p>
        </div>
        <div class="card-footer bg-white">
          Please go through <span th:text="${session.client.clientName}"></span>'s <a href="#" th:href="@{${session.client.privacyPolicy?:'#'}}">Privacy Policy</a> and
          <a th:href="@{${session.client.termsOfService}?:'#'}" href="#">Terms of service</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>